// Theme 1
$theme-1-main-bg: hsl(222, 26%, 31%);
$theme-1-toggle-bg: hsl(223, 31%, 20%);
$theme-1-keypad-bg: hsl(223, 31%, 20%);
$theme-1-screen-bg: hsl(224, 36%, 15%);
$theme-1-key-bg: hsl(225, 21%, 49%);
$theme-1-key-shadow: hsl(224, 28%, 35%);
$theme-1-toggle-key-bg: hsl(6, 63%, 50%);
$theme-1-toggle-key-shadow: hsl(6, 70%, 34%);
$theme-1-function-key-bg: hsl(30, 25%, 89%);
$theme-1-function-key-shadow: hsl(28, 16%, 65%);
$theme-1-text-color: hsl(221, 14%, 31%);
$theme-1-text-white: hsl(0, 0%, 100%);

// Theme 2
$theme-2-main-bg: hsl(0, 0%, 90%);
$theme-2-toggle-bg: hsl(0, 5%, 81%);
$theme-2-keypad-bg: hsl(0, 5%, 81%);
$theme-2-screen-bg: hsl(0, 0%, 93%);
$theme-2-key-bg: hsl(185, 42%, 37%);
$theme-2-key-shadow: hsl(185, 58%, 25%);
$theme-2-toggle-key-bg: hsl(25, 98%, 40%);
$theme-2-toggle-key-shadow: hsl(25, 99%, 27%);
$theme-2-function-key-bg: hsl(45, 7%, 89%);
$theme-2-function-key-shadow: hsl(35, 11%, 61%);
$theme-2-text-color: hsl(60, 10%, 19%);
$theme-2-text-white: hsl(0, 0%, 100%);

// Theme 3
$theme-3-main-bg: hsl(268, 75%, 9%);
$theme-3-toggle-bg: hsl(268, 71%, 12%);
$theme-3-keypad-bg: hsl(268, 71%, 12%);
$theme-3-screen-bg: hsl(268, 71%, 12%);
$theme-3-key-bg: hsl(281, 89%, 26%);
$theme-3-key-shadow: hsl(285, 91%, 52%);
$theme-3-toggle-key-bg: hsl(176, 100%, 44%);
$theme-3-toggle-key-shadow: hsl(177, 92%, 70%);
$theme-3-function-key-bg: hsl(268, 47%, 21%);
$theme-3-function-key-shadow: hsl(290, 70%, 36%);
$theme-3-text-color: hsl(52, 100%, 62%);
$theme-3-text-white: hsl(0, 0%, 100%);

// FOR CHANGING THEME
.theme-1 {
    --main-bg: $theme-1-main-bg;
    --toggle-bg: $theme-1-toggle-bg;
    --keypad-bg: $theme-1-keypad-bg;
    --screen-bg: $theme-1-screen-bg;
    --key-bg: $theme-1-key-bg;
    --key-shadow: $theme-1-key-shadow;
    --toggle-key-bg: $theme-1-toggle-key-bg;
    --toggle-key-shadow: $theme-1-toggle-key-shadow;
    --function-key-bg: $theme-1-function-key-bg;
    --function-key-shadow: $theme-1-function-key-shadow;
    --text-color: $theme-1-text-color;
    --text-white: $theme-1-text-white;
}

// Theme 2 styles
.theme-2 {
    --main-bg: $theme-2-main-bg;
    --toggle-bg: $theme-2-toggle-bg;
    --keypad-bg: $theme-2-keypad-bg;
    --screen-bg: $theme-2-screen-bg;
    --key-bg: $theme-2-key-bg;
    --key-shadow: $theme-2-key-shadow;
    --toggle-key-bg: $theme-2-toggle-key-bg;
    --toggle-key-shadow: $theme-2-toggle-key-shadow;
    --function-key-bg: $theme-2-function-key-bg;
    --function-key-shadow: $theme-2-function-key-shadow;
    --text-color: $theme-2-text-color;
    --text-white: $theme-2-text-white;
}

// Theme 3 styles
.theme-3 {
    --main-bg: $theme-3-main-bg;
    --toggle-bg: $theme-3-toggle-bg;
    --keypad-bg: $theme-3-keypad-bg;
    --screen-bg: $theme-3-screen-bg;
    --key-bg: $theme-3-key-bg;
    --key-shadow: $theme-3-key-shadow;
    --toggle-key-bg: $theme-3-toggle-key-bg;
    --toggle-key-shadow: $theme-3-toggle-key-shadow;
    --function-key-bg: $theme-3-function-key-bg;
    --function-key-shadow: $theme-3-function-key-shadow;
    --text-color: $theme-3-text-color;
    --text-white: $theme-3-text-white;
}

// styling starts Here
body {
    max-width: 1440px;
    width: 100%;
    height: 100vh;
    background-color: $theme-1-main-bg;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
}

.calculator {
    width: clamp(400px, 10vh, 450px);
    padding: 0 10px;
    border: 1px solid red;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        h2 {
            // align-self: baseline;
            font-family: "League Spartan", sans-serif;
            font-size: 2.4rem;
            font-weight: 800;
            color: $theme-1-text-white;
            // margin-top: 1rem;
        }

        .theme-con {
            border: 1px solid red;
            width: 80px;

            .theme-num {
                margin-bottom: 5px;
                display: flex;
                padding-top: 10px;
                p {
                    margin: 0 8px;
                }
            }
        }

        .slider-container {
            width: 100%;
            .slider {
                -webkit-appearance: none;
                width: 85%;
                height: 15px;
                border-radius: 5px;
                background: #d3d3d3;
                outline: none;
                opacity: 0.7;
                -webkit-transition: 0.2s;
                transition: opacity 0.2s;
                cursor: pointer;
            }

            .slider:hover {
                opacity: 1;
            }

            .slider::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: #04aa6d;
                cursor: pointer;
            }

            .slider::-moz-range-thumb {
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: #04aa6d;
                cursor: pointer;
            }
        }
    }
    .screen {
        width: 100%;
        height: 100px;
        margin: 10px 0;
        border-radius: 10px;

        #display {
            overflow: hidden;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            padding-inline: 10px;
            background-color: $theme-1-screen-bg;
            border: none;
            color: $theme-1-text-white;
            font-size: 2.7rem;
            text-align: right;
            font-family: "League Spartan", sans-serif;
        }
    }

    .row {
        padding: 20px;
        border-radius: 10px;
        background-color: $theme-1-keypad-bg;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;

        button {
            width: 100%;
            padding: 10px;
            outline: none;
            cursor: pointer;
            border: 0;
            border-radius: 5px;
            color: $theme-1-text-color;
            box-shadow: 0px 5px 0px 0px $theme-1-function-key-shadow;
            font-weight: 700;

            &:hover {
                background-color: $theme-1-text-white;
            }
        }

        .input-btn {
            font-size: 32px;
        }

        .key-bg {
            background-color: $theme-1-key-bg;
            box-shadow: 0px 5px 0px 0px $theme-1-key-shadow;
            color: $theme-1-text-white;

            &:hover {
                background-color: $theme-1-key-bg;
            }
        }

        .cal-bg {
            background-color: $theme-1-toggle-key-bg;
            box-shadow: 0px 5px 0px 0px $theme-1-toggle-key-shadow;
            color: $theme-1-text-white;
            &:hover {
                background-color: $theme-1-toggle-key-bg;
            }
        }

        .col-2 {
            grid-column: span 2;
        }
    }
}
